<!doctype html>
<html>
  <head>
    <title>ID Duplication Check</title>
    <meta charset="utf-8" />
  </head>
  <body>
Drug and Drop the link below onto bookmark bar.
<p>
    <a href="<%= url %>">ID Duplicatin Check</a>
</body>
</html>                
